@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c103a;
    font-family: 'Twinkle Star', cursive;
    font-size: 23px;
    color: #bec08c;
}

.memory-game {
    width: 600px;
    height: 640px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.wrapper {
    max-width: 1440px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memory-card {
    position: relative;
    width: calc(25% - 10px);
    height: calc(33% - 10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.rs-img {
    width: 100px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}

.footer-data span:nth-child(2) {
    margin: 0 15px;
}

.footer-data {
    padding-top: 10px;
}

.github-link {
    text-decoration: none;
    color: #7e8142;
    transition: color 0.6s;
}

.github-link:hover {
    color: #515415;
}

.rs-img {
    filter: brightness(0) saturate(100%) invert(47%) sepia(67%) saturate(288%) hue-rotate(24deg) brightness(90%) contrast(89%);
    transition: filter 0.6s;
}

.rs-img:hover {
    filter: brightness(0) saturate(100%) invert(29%) sepia(8%) saturate(2087%) hue-rotate(25deg) brightness(92%) contrast(84%);
}