@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c103a;
    font-family: 'Twinkle Star', cursive;
    font-size: 23px;
    color: #bec08c;
}

.wrapper {
    max-width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3d3259;
    height: 100px;
}

.memory-game {
    width: 33%;
    height: 70vh;
    margin: 0 10px;
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    perspective: 1000px;
}

.main {
    margin-top: 30px;
}

.main-after {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.memory-card {
    position: relative;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.rs-img {
    width: 100px;
}

.rules {
    margin: 0 20px;
}

.rules-after {
    width: 28%;
    margin-top: 130px;
}

.rules h2 {
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 1px 1px 3px #8E83AC, -2px -2px 1px #8E83AC;
}

.rules p {
    line-height: 30px;
}

.current-game {
    display: none;
    width: 28%;
    margin: 0 20px;
}

.header h1 {
    font-size: 65px;
    margin: 10px;
    text-shadow: 2px 2px 6px #8E83AC, -2px -2px 1px #8E83AC;
}

.current-game p {
    font-size: 27px;
    font-weight: bold;
    margin: 20px;
    margin-left: 30%;
}

.new-game {
    width: 170px;
    height: 50px;
    margin: 25px;
    margin-left: 35%;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #7e8142;
    color: #3d3259;
    transform: scale(1);
    transition: color 0.6s;
}

.new-game:active {
    transform: scale(0.96);
}

.new-game:hover {
    color: #1c103a;
}

.time {
    display: inline-block;
    width: 140px;
    height: 42px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #515415;
    font-weight: 500;
}

.moves {
    background-color: #515415;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sets-of-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sets-of-cards h2 {
    margin: 0 20px;
    margin-top: 30px;
    text-shadow: 2px 2px 6px #8E83AC, -2px -2px 1px #8E83AC;
}

.disney-cards img,
.actors-cards img,
.science-cards img {
    width: 80px;
    border-radius: 5px;
    margin-right: 10px;
}

.disney-cards,
.actors-cards,
.science-cards {
    display: flex;
    flex-direction: row;
    margin: 5px;
    border: 2px solid #515415;
    padding: 5px;
    border-radius: 5px;
    transform: scale(1);
}

.disney-cards:hover,
.actors-cards:hover,
.science-cards:hover {
    transform: scale(1.03);
}

.cards-active {
    box-shadow: 3px 3px 5px #826e42, -3px -3px 5px #826e42;
}

.disney-cards p,
.actors-cards p,
.science-cards p {
    padding: 25px;
}

.play {
    width: 170px;
    height: 50px;
    margin: 25px;
    font-family: inherit;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #7e8142;
    color: #3d3259;
    transform: scale(1);
    transition: color 0.6s;
}

.play:active {
    transform: scale(0.96);
}

.play:hover {
    color: #1c103a;
}

.visible {
    display: flex;
}

.time-visible {
    display: inline-block;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3D3259;
    padding: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-data span:nth-child(2) {
    margin: 0 15px;
}

.footer-data {
    padding-top: 10px;
}

.github-link {
    text-decoration: none;
    color: #7e8142;
    transition: color 0.6s;
}

.github-link:hover {
    color: #515415;
}

.rs-img {
    filter: brightness(0) saturate(100%) invert(47%) sepia(67%) saturate(288%) hue-rotate(24deg) brightness(90%) contrast(89%);
    transition: filter 0.6s;
}

.rs-img:hover {
    filter: brightness(0) saturate(100%) invert(29%) sepia(8%) saturate(2087%) hue-rotate(25deg) brightness(92%) contrast(84%);
}