@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --color-gold: #bdae82;
    --color-black: #000000;
    --color-white: #ffffff;
}

body {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.light-theme {
    background-color: var(--color-white);
    color: var(--color-black);
}

/* ---------Header---------- */

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url(../assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-light {
    background: url(../assets/img/hero-light.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
}

.nav ul,
.switch-lng {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    margin-left: auto;
}

.nav ul li {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-item {
    text-decoration: none;
    color: inherit;
    transition: color 0.4s;
}

.nav-item:hover {
    color: var(--color-gold);
}

.hover-white:hover {
    color: var(--color-white);
}

.nav ul li:first-child {
    margin-left: 30px;
    margin-right: 31px;
}

.nav ul li:nth-child(2) {
    margin-right: 31px;
}

.nav ul li:nth-child(3) {
    margin-right: 31px;
}

.logo {
    margin: 20px;
    transition: filter 0.6s;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.switch-lng div {
    height: 50px;
    padding-top: 15px;
    padding-bottom: 12px;
    font-family: Inter;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.switch-lng div:nth-child(2) {
    margin-left: 10px;
    margin-right: 9px;
}

.switch-lng div:first-child {
    margin-left: 1px;
    cursor: pointer;
}

.switch-lng .active-white {
    color: var(--color-white);
}

.switch-lng .active-lng {
    color: var(--color-gold);
}

.switch-lng div:last-child {
    margin-right: 19px;
    cursor: pointer;
}

.switch-img {
    margin-right: 20px;
    margin-left: 38px;
    width: 45px;
    height: 45px;
    transition: filter 0.6s;
}

.switch-img:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.menu-bg,
.menu {
    display: none;
}

/* ----------Hero----------- */

.hero {
    height: 910px;
    background: url(../assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center -90px;
}

.hero-bg {
    height: 910px;
    background: url(../assets/img/hero-light.jpg);
    background-repeat: no-repeat;
    background-position: center -90px;
}

.hero-title {
    padding-left: 80px;
    padding-top: 159px;
    height: 120px;
    max-width: 500px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
}

.hero-text {
    padding-top: 130px;
    margin-left: 80px;
    height: 120px;
    max-width: 470px;
    line-height: 40px;
}

.btn {
    margin-left: 80px;
    margin-top: 145px;
    height: 55px;
    width: 220px;
    background: var(--color-gold);
    border: none;
    font-family: inherit;
    font-weight: 500;
    transition: color 0.4s;
}

.btn:hover {
    color: var(--color-white);
}

/* ---------Skills------------ */

#skills {
    margin-bottom: 2px;
    padding: 0 20px;
    padding-top: 10px;
}

.h2 {
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: var(--color-gold);
    background: url(../assets/svg/section-title-line.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.section-line-white {
    background: url(../assets/svg/section-title-line-white-theme.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.caption-span {
    padding: 0 20px;
    background-color: var(--color-black);
}

.captions-white {
    background-color: var(--color-white);
    color: var(--color-black);
}

.skills-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    padding-bottom: 2px;
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    max-width: 320px; 
}

.skills-item:last-child {
    margin-right: 0;
}

.skills-item h3 {
    max-width: 280px;
    height: 40px;
    margin-top: 50px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

.skills-item p {
    max-width: 280px;
    height: 72px;
    margin: 21px 20px 10px 20px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

/* ---------Portfolio-------- */

#portfolio {
    padding: 0 20px;
    padding-top: 98px;
}

.portfolio-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-btn {
    width: 220px;
    height: 55px;
    background-color: transparent;
    border: 2px solid var(--color-gold);
    color: var(--color-gold);
    font-family: inherit;
    transition: color 0.4s;
}

.portfolio-btns-white {
    background-color: var(--color-gold);
    color: var(--color-black);
}

.portfolio-btn-white {
    background-color: var(--color-gold);
    color: var(--color-black);
}

.portfolio-btn-gold {
    background-color: var(--color-gold);
    color: var(--color-black);
}

.portfolio-btn-black {
    background-color: var(--color-black);
    color: var(--color-gold);
    border: 2px solid var(--color-black);
}

.portfolio-btn:hover {
    color: var(--color-white);
}

.portfolio-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

/* ----------Video---------- */

#video {
    padding: 0 20px;
    padding-top: 100px;
}

/* .video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 705px;
    background: url(../assets/img/video-player.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.play-hover {
    width: 130px;
    height: 130px;
    background: url(../assets/svg/play-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    transition: filter 0.6s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.play-hover:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
} */

/* ------------Price------------ */

#price {
    padding: 0 20px;
    padding-top: 99px;
    padding-bottom: 100px;
}

.price-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.price-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 450px;
    height: 505px;
    border: 3px solid var(--color-gold);
}

.price-items h3 {
    margin-top: 40px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
}

.price {
    margin-top: 21px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: var(--color-gold);
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.frame span {
    display: block;
    font-size: 18px;
    line-height: 200%;
}
  
.btn-price {
    margin-top: 39px;
    width: 220px;
    height: 55px;
    background-color: var(--color-gold);
    font-family: inherit;
    font-weight: 500;
    border: none;
    transition: color 0.4s;
}

.btn-price:hover {
    color: var(--color-white);
}

/* ----------Contacts---------- */

.contacts {
    height: 700px;
    background: url(../assets/img/contacts.jpg);
    background-size: auto 700px;
    background-position: center center;
}

.contacts-light {
    background: url(../assets/img/contact-light.jpg);
    background-size: auto 700px;
    background-position: center center;
}

.contacts-container {
    padding-top: 60px;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.contact-title {
    height: 80px;
    margin-bottom: 40px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: var(--color-gold);
    text-align: center;
}

.caption-white {
    color: var(--color-black);
}

.contact-input {
    height: 50px;
    margin-bottom: 20px;
    padding: 5px 18px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    color: var(--color-gold);
    font-family: inherit;
}

.input-message {
    height: 100px;
    padding: 11px 18px;
    margin-bottom: 30px;
    resize: none;
}

.input-white::placeholder {
    color: var(--color-black);
}

::placeholder,
.input-message {
    font-family: inherit;
    color: var(--color-gold);
}

.input-white {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--color-black);
}

.contact-btn {
    width: 220px;
    height: 55px;
    background: var(--color-gold);
    line-height: 40px;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    border: none;
    transition: color 0.4s;
}

.btn-white {
    background: var(--color-white);
}

.contact-btn:hover {
    color: var(--color-white);
}

.hover-gold:hover {
    color: var(--color-gold);
}

/* -------------bubbly-button------------- */

.bubbly-button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px #b39d5b;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 240px;
    height: 55px;
    left: -5%;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, transparent 20%, #bdae82 20%, transparent 30%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, transparent 10%, #bdae82 15%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, transparent 10%, #bdae82 15%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-white:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ffffff 20%, transparent 30%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffffff 15%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-white:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffffff 15%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
    transform: scale(0.9);
    box-shadow: 0 2px 25px #b39d5b;
}

.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}  
  
/* ---------------------------- */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--color-gold);
    transition: background-color 0s ease-in-out 9000s;
}

/* ------------Footer------------ */

.footer {
    height: 150px;
    padding: 0 20px;
}

.footer-container,
.social-list,
.footer-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container {
    padding-top: 50px;
}

.footer-data {
    width: 182px;
    height: 50px;
    padding: 15px 0;
}

.rs-link {
    width: 211px;
    height: 50px;
    padding: 15px 0;
    margin-left: 7px;
    color: inherit;
    text-decoration: none;
    transition: color 0.4s;
}

.footer-data a {
    padding-right: 14px;
    text-decoration: none;
    color: inherit;
    transition: color 0.4s;
}

.rs-link:hover,
.footer-data a:hover {
    color: var(--color-gold);
}

.social-list {
    width: 188px;
    height: 50px;
    padding: 9px 0;
}

.social-list-item {
    transition: 0.6s;
}

.social-list-item:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.logo-white {
    filter: invert(100%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

@media (max-width: 890px) {
        .switch-img {
            margin-left: 0px;
        }

        .nav ul li {
            margin-right: 15px;
        }

        .nav ul li:first-child {
            margin-right: 15px;
        }
        
        .nav ul li:nth-child(2) {
            margin-right: 15px;
        }
        
        .nav ul li:nth-child(3) {
            margin-right: 15px;
        }
    }

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .logo {
        margin-left: 60px;
    }
    
    .switch-lng {
        margin-left: auto;
        margin-top: -1px;
    }
    
    .switch-img {
        margin-left: 5px;
        width: 45px;
        height: 45px;
    }

    .menu-bg {
        display: block;
        position: relative;
        width: 50px;
        height: 28px;
        font-size: 0;
        margin-right: 64px;
        cursor: pointer;
        transition: transform 0.3s;
        border: none;
        box-shadow: none;
        background: transparent;
        z-index: 101;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .menu-bg:focus {
        outline: none;
    }

    .burger {
        display: block;
        position: absolute;
        top: 12px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: var(--color-white);
    }

    .burger::before,
    .burger::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--color-white);
        content: "";
    }

    .burger::before {
        top: -12.3px;
    }

    .burger::after {
        bottom: -12.4px;
    }

    .bg-anima span::before,
    .bg-anima span::after {
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
    }

    .bg-anima span::before {
        transition-property: top, transform;
    }

    .bg-anima span::after {
        transition-property: bottom, transform;
    }

    .burger {
        transition: background-color 0s;
        transition-delay: 0.3s;
    }

    .bg-anima.is-active span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .bg-anima.is-active span::after {
        bottom: 0;
        transform: rotate(-45deg);
    }

    .bg-anima.is-active span::before,
    .bg-anima.is-active span::after {
        transition-delay: 0s, 0.3s;
        top: 2px;
    }

    .bg-anima.is-active span {
        transition: 0s;
        background-color: transparent;
    }

    .burger-white::before,
    .burger-white::after,
    .burger-white {
        background-color: var(--color-black);
    }

    .menu {
        position: fixed;
        display: block;
        right: -620px;
        top: 0;
        width: 620px;
        height: 100%;
        background-color: var(--color-black);
        overflow: hidden;
        transition: 0.7s;
        transition-delay: 0.2s;
        z-index: 100;
    }

    .menu-white {
        background-color: var(--color-white);
    }

    .link {
        text-decoration: none;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 73px;
        color: var(--color-white);
        transition: color 0.4s;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .link:hover {
        color: var(--color-gold);
    }

    .link-white {
        color: var(--color-black);
    }

    .menu nav ul li {
        margin-bottom: 16px;
    }

    .menu nav ul {
        width: 150px;
        height: 429px;
        margin-top: 134px;
        margin-left: 127px;
    }

    .open {
        overflow-x: hidden;
        right: 0;
        transition-delay: 0.2s;
    }

    .switch-lng div:last-child {
        margin-left: 11px;
        margin-right: 21px;
    }

    .switch-lng div:nth-child(2) {
        margin-right: 8px;
    }

    .hero {
        height: 500px;
        background-image: url(../assets/img/bg-small.jpg);
        background-repeat: no-repeat;
        background-position: center -90px;
    }

    .hero-bg {
        background-image: url(../assets/img/hero-light-small.jpg);
        background-repeat: no-repeat;
        background-position: center -90px;
    }

    .container-header {
        background: url(../assets/img/bg-small.jpg);
        background-repeat: no-repeat;
        background-position: center 0;
    }

    .header-light {
        background: url(../assets/img/hero-light-small.jpg);
        background-repeat: no-repeat;
        background-position: center 0;
    }

    .hero-title {
        padding-top: 49px;
        margin-left: -20px;
        font-weight: normal;
        font-style: normal;
        font-size: 32px;
    }

    .hero-text {
        width: 390px;
        padding-top: 41px;
        margin-left: 59px;
        font-size: 20px;
        line-height: 24.2px;
    }

    .btn {
        width: 219px;
        height: 54px;
        margin-top: 54px;
        margin-left: 59.9px;
    }

    #skills {
        padding-top: 80px;
    }
    
    .h2 { 
        background: url(../assets/svg/section-title-line-small.svg);
        background-repeat: no-repeat;
        background-position: center;
        font-size: 32px;
    }

    .section-line-white {
        background: url(../assets/svg/section-title-line-white-theme-small.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .skills-item p {
        line-height: 21.78px;
        width: 280px;
    }

    .skills-item {
        width: 300px;
        height: 224px;
    }

    .skills-items {
        margin-left: -4px;
        justify-content: center;
        row-gap: 35px;
        column-gap: 44px;
    }

    #skills h2 {
        margin-bottom: 46px;
    }

    .skills-item h3 {
        margin-top: 29px;
    }

    #portfolio {
        padding-top: 115px;
    }

    #portfolio h2,
    #video h2,
    #price h2 {
        margin-bottom: 50px;
    }

    .portfolio-btns {
        width: 445px;
    }

    #video {
        padding: 0;
        padding-top: 80px;
    }

    /* .video-player {
        height: 418px;
        background: url(../assets/img/video-player-small.jpg);
        background-repeat: no-repeat;
    }

    .play-hover {
        background-size: 50%;
    } */

    #price {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .price-item {
        width: 420px;
    }

    .price-items {
        gap: 50px;
    }

    .contacts {
        height: 600px;
        background: url(../assets/img/contacts-small.jpg);
        background-size: auto 600px;
        background-position: center center;
    }

    .contacts-light {
        background: url(../assets/img/contact-light-small.jpg);
        background-size: auto 600px;
        background-position: center center;
    }

    .contacts-container {
        margin-left: auto;
        margin-right: auto;
        padding-top: 51px;
    }

    .contact-title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;
        font-size: 32px;
    }

    .contact-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        height: 190px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .footer-data {
        width: 210px;
        height: 40px;
        justify-content: space-around;
        padding-left: 6px;
    }

    .footer-data a {
        padding-right: 10px;
    }

    .rs-link {
        margin-left: 0;
        margin-bottom: 8px;
    } 
}

@media (max-width: 620px) {
    .menu {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-title {
        padding-left: 0;
    }

    .btn {
        margin-left: 0;
    }

    #skills h2,
    #portfolio h2,
    #video h2,
    #price h2 {
        max-width: 280px;
    }

    .hero-text {
        width: 250px;
        height: 170px;
        margin: 0;
        text-align: center;
    }

    .logo {
        margin-left: 20px;
    }

    .menu-bg {
        margin-right: 20px;
    }

    .menu nav ul {
        margin-left: 100px;
    }

    .portfolio-btns {
        width: 300px;
    }

    .portfolio-img {
        width: 100%;
    }

    /* .video-player {
        height: 235px;
        background-size: 100%;
    } */

    .contact-title {
        line-height: 40px;
    }

    .contact-input {
       width: 260px;
    }

    .contacts-container {
        width: 300px;
        align-items: center;
    }
}

/* @media (max-width: 420px) {
    .video-player {
        height: 210px;
    }
} */

/* @media (max-width: 380px) {
    .video-player {
        height: 190px;
    }
} */

@media (max-width: 340px) {
    .switch-lng div:last-child {
        margin-left: 3px;
        margin-right: 13px;
    }

    .switch-lng div:nth-child(2) {
        margin-right: 3px;
        margin-left: 6px;
    }

    .menu nav ul {
        margin-left: 70px;
    }

    .portfolio-btns {
        width: 220px;
    }

    /* .video-player {
        height: 180px;
    } */
}