.video-player {
    max-width: 100%;
    background-color: transparent;
    /* height: 202px; */
    /* box-shadow: 0 0 20px #bdae82; */
    position: relative;
}
  
.video-player:fullscreen,
.video-player:-webkit-full-screen {
    max-width: none;
    width: 100%;
}

.video {
    width: 100%;
    height: 100%;
}
  
.play-hover {
    position: absolute;
    left: calc(50% - 65px);
    top: calc(50% - 65px);
    border: none;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: filter 0.6s;
    z-index: 1;
}

.play-hover-img {
    width: 130px;
    height: 130px;
}

.player-controls {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background:rgba(0,0,0,0.5);
}

.player-controls > * {
    flex: 1;
}

.progress {
    height: 10px;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 8px;
    background:rgba(0, 0, 0, 0.9);
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
  
.progress-fill {
    background: #bdae82;
    flex: 0;
    flex-basis: 0%;
    border-radius: 1.3px;
}
  
.play-button,
.fullscreen-button,
.skip {
    background: none;
    border: 0;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: filter 0.6s;
}

.play-img {
    width: 18px;
    margin-bottom: 3px;
    filter: brightness(0) invert(1);
}

.volume-button {
    width: 70px; 
    flex-basis: 15px;
    flex-shrink: 3;
    background: none;
    border: 0;
    text-align: right;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: auto;
}

.volume-img {
    width: 25px;
    margin-bottom: 3px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.volume-title,
.speed-title {
    max-width: 80px;
    flex: 2;
    color: #ffffff;
    font-size: 15px;
    text-align: right;
    line-height: 28px;
    margin: 5px;
}

.volume-wrapper,
.speed-wrapper {
    position: relative;
    display: flex;
}

.bar {
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    height: 9px;
    border-radius: 0.3px;
    background-color: rgba(255,255,255,0.8);
    overflow: hidden;
    z-index: 1;
}

.fill {
    display: block;
    width: 50%;
    height: 100%;
    background-color: #bdae82;
    z-index: 4;
}
  
.player-range {
    width: 180px;
    height: 40px;
    margin: 0;
    flex-basis: 180px;
    flex-grow: 1.8;
    -webkit-appearance: none;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.player-range:focus {
    outline: none;
}

.player-range::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #bdae82;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.player-range::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 5px #bdae823d;
}

.player-range:active::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px #bdae823d;
}

.volume-range,
.speed-range {
    -webkit-appearance: none;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.speed-fill {
    display: block;
    width: 50%;
    height: 100%;
    background-color: #bdae82;
    z-index: 4;
}

.skip-back {
    max-width: 180px;
    margin: 5px;
    text-align: right;
}

.skip-forward {
    max-width: 180px;
    margin: 5px;
    text-align: left;
}

.skip {
    cursor: auto;
}

.fullscreen-img,
.arrow-img {
    width: 20px;
    filter: brightness(0) invert(1);
    margin-bottom: 2px;
    cursor: pointer;
    transition: filter 0.6s;
}

.fullscreen-img {
    margin-bottom: 3px;
}

.player-visible {
    display: flex;
}

.invisible {
    display: none;
}

.play-hover:hover,
.play-button:hover,
.fullscreen-button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
  
@media (max-width: 768px) {
  .play-hover-img,
  .play-hover {
      width: 65px;
      height: 65px;
  }

  .play-hover {
      left: calc(50% - 32px);
      top: calc(50% - 32px);
  }
}

@media (max-width: 680px) {
  .player-range {
      width: 100px;
  }
}

@media (max-width: 485px) {
  .play-hover-img,
  .play-hover {
      width: 50px;
      height: 50px;
  }

  .play-hover {
      left: calc(50% - 25px);
      top: calc(50% - 25px);
  }

  .progress {
      height: 5px;
  }

  .play-img {
      width: 13px;
      margin-bottom: 6px;
  }

  .volume-img {
      width: 20px;
      margin-bottom: 5px;
  }

  .volume-title {
      font-size: 13px;
      margin-top: 3px;
  }

  .bar {
    height: 6px;
  }

  .player-range::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }

  .fullscreen-img,
  .arrow-img  {
    width: 15px;
  }

  .arrow-img  {
    margin-bottom: 6px;
  }

  .play-button,
  .player-fullscreen,
  .skip,
  .volume-button, 
  .volume-wrapper {
      height: 30px;
  }

  .play-button,
  .player-fullscreen,
  .volume-button {
      padding-top: 3px;
  }

  .player-range {
    height: 30px;
  }

  .volume-title {
    line-height: 20px;
  }

  .volume-title,
  .skip {
      height: 20px;
  }

  .bar {
    top: 11px;
  }

  .speed-wrapper,
  .speed-title {
      display: none;
  }
}

@media (max-width: 380px) {
  .player-range {
      width: 60px;
  }
}

@media (max-width: 320px) {
  .play-hover-img,
  .play-hover {
      width: 36px;
      height: 36px;
  }

  .play-hover {
      left: calc(50% - 18px);
      top: calc(50% - 18px);
  }
}